@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

/* estilos header */

.navbar {
    background-color: #6A8E7F;
    height: 80px;

}

.logo {
    float: left;
    width: 150px;
    margin-right: 10px;
    margin-top: -60px;
}


ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;

}

a {
    color: white;

}

.menu-desp {
    float: right;
}

/* botones para el menu desplegable */
.checkbtn {
    float: right;
    padding: 10px;

}

#check {
    float: right;
    padding: 10px;
    margin-top: 30px;
}

.checkbtn {
    font-size: 20px;
    float: right;
    display: none;
    line-height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#check {
    font-size: 20px;
    color: #fff;
    float: right;
    line-height: 80px;
    /* centramos el icono*/
    margin-right: 40px;
    cursor: pointer;
    display: none;
    /* solo se tiene que ver endipositivos pequeños no en descktop*/
}

.link {
    color: black;
    text-decoration: none;
}
.items{
    align-items:center ;
    width: 80%;
    
}
.items1 {
    cursor: pointer;
    width: auto;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.209);
    padding: 10px;
    margin-left: 300px;
    margin-top: 10px;
    background: white;
    display: flex;
    
}


.imgcarrito {
    width: 15%;
    height: 180px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
    
}

.descrip{
    width: 30%;
   text-align: left;
     padding: 30px;
}

.cantidad h2{
    margin-top: -80px;
    margin-left: 90%;
}

.precio h2{
    margin-left: 100px;
    margin-top: 30px;
}
.precio h3{
    align-items: center;
    padding: 10px;
    display: flex;
margin-left:150px;
}

h2 {
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    
}
.botoncitos{
    display: flex;
}
.menos {
    background-color: #6A8E7F;
    border: none;
    width: 40px;
    height: 30px;
    color: white;
    border-radius: 10px;
    margin-top: 100px;
 
    margin-left: -100px;
}

.mas {
    margin-left: 30px;
    background-color: #6A8E7F;
    border: none;
    width: 40px;
    height: 30px;
    color: white;
    border-radius: 10px;

    margin-top: 100px;
}
.botoncitos p{
    margin-top: 100px;
    margin-left: 30px;
}



.total h2
    {margin-left: 10%;
}

.comprar .btncompra {
margin-left: 50%;

    background-color: #6A8E7F;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
  
}

.comprar .btncompra:hover {
    transform: scale(1.2);
}



/* estilos footer */

.redes {
    margin-top: 30px;
    background-color: #6A8E7F;
    height: 400px;
}

ul {
    display: flex;
    padding: 10px;
}

.mapa {
    float: right;
    margin-top: -20%;
    margin-right: 40px;

}

.mapa .mapita {
    border-radius: 10px;
}

.links {
    justify-content: center;
    align-items: flex-end;
}

.sociales {
    display: flex;
    flex-direction: column;
}


/* flexbox */
@media (max-width: 600px) {

    /* estilos header */

    .checkbtn {
        display: block;
        margin-top: -6px;

    }

    .navbar ul {
        position: relative;
        width: 100%;
        height: 70vh;
        background: #ebf0ee;
        top: -70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navbar nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;

    }

    a {
        font-size: 20px;


    }

    header {
        background-color: #6A8E7F;

    }

    #check:checked~ul {
        left: 0;

    }

    .menu-desp {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    /* estilos tarjetas */
  
    .items{
        display: block;
        flex-direction: column;
     }
     .items1{
        flex-direction: column;
     }
     .imgcarrito{
        width: 90%;
    
     }
     .descrip {
        text-align: center;
        width: 100%;
     }
     .precio h2, h3{
        text-align: center;
     }

         /* estilos footer */
    .redes {
        display: flex;
    }

    .redes ul li img {
        left: 0;
    }
    footer{
        width: 100%;
        height: auto;
    }
    .mapita{
        margin-top: -110px;
        margin-left: 130px;
      display: flex;
        width: 200px;
        height: 200px;
        justify-content: center;
    }
    .links{
       display: none;
    }
}