@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*estilos header */
.logo-empresa {
    display: flex;
    justify-content: center;
}

header .navbar .logo-empresa .logo {
    width: 50%;
}

.navbar {
    background-color: #638168;
    height: auto;


}

.navbar ul li {
    flex-direction: column;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;

}

/* estilos tarjetas details */

.details{
    display: flex;
    justify-content: center;
}

.card {
    cursor: pointer;
    width: 90%;
    height: 500px;
    background: #D5ECD4;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    margin-top: 30px;


}

.card-descripcion {
    cursor: pointer;
    width: 90px;
    height: 200px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;


}

h3 {
 
}

h2 {
    text-align: center;
    margin-top: -40px;
}

p {
    width: 90%;
    margin-left: 30px;
    margin-top: 10px;
    text-align: justify;
}

/* estilos footer */

footer {
    background-color: #638168;
    margin-top: 140px;
}

.redes ul li {
    list-style: none;

}

.redes ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

ion-icon {
    color: white;
}

.mapa iframe {
    width: 200px;
    height: 100px;

}

.mapa {
    display: flex;
    justify-content: center;
}

.copyrigth {
    color: white;
}

h6 {
    display: flex;
    justify-content: center;
}



/* media query header */

@media (min-width:400px) {

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    div.menu ul {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        gap: 5px;
        margin-right: 10px;
    }


    header .navbar .logo-empresa .logo {
        display: flex;
        width: 60px;
        height: 30px;
        margin-right: 50px;
        margin-left: 10px;

    }
}

/*@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

/* estilos universales 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
/* estilos header 

.navbar {
    background-color: #6A8E7F;
    width: auto;
    height: 60px;
}

ul {
    margin-left: 76px;
}

nav li {
    float: left;
    list-style: none;


}

.navbar ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
    display: flex;
    margin-top: 17px;
    margin-left: 40px;

}

.logo {
    width: 16%;
    margin-left: 607px;
    margin-top: -13%;
}

.navbar2 ul li a {
    list-style: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    margin-left: 40px;

}

.navbar2 {
    margin-top: -192px;
    margin-left: 1000px;
}
/* detalle del producto 

.imagen{
    margin-left: 60px;
    margin-top: 100px;
}
/* estilos card descripcion 

/* estilos boton agregar al carrito 
.buy{
    background-color: #6A8E7F;
    width: 200px;
    height: 60px;
    border: #6A8E7F;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 80px;
    font-size: 130%;
}
.buy:hover {
    box-shadow: -3px 3px 0px -0.2px rgba(0, 0, 255, .2);
    transform:scale(1.1) ;
}
/* estilos footer 
.redes{
    flex-direction: column;
    background-color: #6A8E7F;
    height: 100%;
    top: 10%;
}
.redes li{
    list-style: none;
    margin-top: 20px;
}
.redes ul{
    margin-top: 20px;
}
.redes .insta{
    margin-top: 100px;
}
.links{
    display: flex;
    gap: 20px;
    margin-left: 350px;
  
}
.links li{
    list-style: none;
  
}
.links a{
    text-decoration: none;
    color: white;  
}
.mapita{
    margin-top: -20%;
    margin-left: 76%;
    border-radius: 20px;
}
/* estilos boton "register" 
.registrarse {
    margin-top: -7px;
    --b: 1.5px;
    /* border thickness 
    --s: .40em;
    /* size of the corner 
    --color: #262626;

    padding: calc(.2em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 15px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.registrarse:hover,
.registrarse:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .08em;
    background-color: white;
    color: black;
}

.registrarse:active {
    background-color: var(--color);
    color: white;
}