/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

/* estilos universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/* estilos header */

.navbar {
    background-color: #6A8E7F;
    height: 80px;

}

.logo {
    float: left;
    width: 150px;
    margin-right: 10px;
    margin-top: -60px;
}


ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

a {
    color: white;

}

/* botones para el menu desplegable */
.checkbtn {
    float: right;
    padding: 10px;

}

#check {
    float: right;
    padding: 10px;
    margin-top: 30px;
}

.checkbtn {
    font-size: 20px;
    float: right;
    display: none;
    line-height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#check {
    font-size: 20px;
    color: #fff;
    float: right;
    line-height: 80px;
    /* centramos el icono*/
    margin-right: 40px;
    cursor: pointer;
    display: none;
    /* solo se tiene que ver endipositivos pequeños no en descktop*/
}

.link {
    color: black;
    text-decoration: none;
}


/* BANNER */
.banner-img {
    margin-top: -73px;
    position: initial;
}

/* estilos tarjetas */


.tarjetas {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;

}

h1 {
    text-align: center;
    margin: 20px;
}

.card {
    cursor: pointer;
    width: 250px;
    height: 254px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-left: 150px;
    margin-top: 30px;
    align-content: center;
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}

.imagen {
    margin-left: 69px;
}

.boton {
    background-color: #6A8E7F;
    width: 80px;
    height: 30px;
    border: #6A8E7F;
    border-radius: 10px;
    margin-left: 30px;
}

.boton-info {
    background-color: #6A8E7F;
    width: 80px;
    height: 30px;
    border: #6A8E7F;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: -50px;

}


.boton:hover {
    box-shadow: -3px 3px 0px -0.2px rgba(0, 0, 255, .2);
    transform: scale(1.1);
}

.boton-info:hover {
    box-shadow: -3px 3px 0px -0.2px rgba(0, 0, 255, .2);
    transform: scale(1.1);

}

/* estilos footer */

.redes {
margin-top: 30px;
    background-color: #6A8E7F;
    height: 400px;
}

ul {
    display: flex;
    padding: 10px;
}

.mapa {
    float: right;
   margin-top: -20%;
   margin-right: 40px;
   
}
.mapa .mapita{
border-radius: 10px;
}

.links{
    justify-content: center;
    align-items: flex-end;
}
.sociales{
    display: flex;
    flex-direction: column;
}

/* estilos footer 
footer{
    margin-top: 30px;
}


footer .redes img{

        display: inline-block;
    
}




.links {
    display: flex;
    gap: 20px;
    margin-left: 350px;

}

.links li {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: white;
}

.mapita {
    margin:-30px;
    margin-left: 76%;
    border-radius: 20px;
}



/* flexbox */
@media (max-width: 600px) {

    /* estilos header */

    .checkbtn {
        display: block;
        margin-top: -6px;

    }

    .navbar ul {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #ebf0ee;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navbar nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;

    }

    a {
        font-size: 20px;


    }

    header {
        background-color: #6A8E7F;

    }

    #check:checked~ul {
        left: 0;

    }

    /* estilos banner */

    /* estilos tarjetas */
    .principal .tarjetas .card {
        justify-content: center;
    }


    /* estilos footer */
    .redes {
        display: flex;
    }

    .redes ul li img {
        left: 0;
    }
    footer{
        width: 100%;
        height: auto;
    }
    .mapita{
        margin-top: -430px;
        margin-left: 130px;
      display: flex;
        width: 200px;
        height: 200px;
        justify-content: center;
    }
    .links{
        text-align: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }
}

/*
 


@media (min-width:601px) {
    * {
        background-color: aqua;
    }
}*/